<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{blogpost}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

{{#if logged_in}}
  <form class="form new-blog-form">
    <div class="form-group">
          <label for="blog-desc">comment:</label>
          <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Comment Now</button>
        </div>
  </form>
{{else}}
  <div>
    <p>You must be logged in to comment: <a href="/login">login</a></p>
  </div>
{{/if}}

<br>

<h3>Comments</h3>
<br>
{{#each comments as |comment| }}
  <div class="row mb-4 blog">
    <p id="user-comment">
      {{comment.content}}
    </p>
    <br>
    <p>Posted by: {{comment.user.name}}</p>
    <br>
    <p>Comment created: {{format_date comment.createdAt}}</p>
  </div>
{{/each}}

<script src="../js/blogs.js"></script>